$miller = 'Miller', Georgia, Times New Roman, Times, serif
$benton = 'Benton', Helvetica, Arial, sans-serif
$serif = 'Georgia', Times New Roman, Times, serif
$sans-serif = 'Helvetica', Arial, sans-serif
