$miller = 'Miller', Georgia, Times New Roman, Times, serif
$benton = 'Benton', Helvetica, Arial, sans-serif
$serif = 'Georgia', Times New Roman, Times, serif
$sans-serif = 'Helvetica', Arial, sans-serif

//=======================
// Base
//=======================
// Add whichever you need or just copy the code from these files. Helps to have these in case you need. Especially the breakpoints and helper variables
// @require 'base/reset'
// @require 'base/variables'
// @require 'base/helpers'
// @require 'base/colors'
// @require 'base/layout'
// @require 'base/unicode'
// @require 'base/fonts'

//=======================
// Fonts
//=======================
// See base/fonts for full listing
// If you need set-font, make sure to include the base/fonts file
// Note: all projects require Benton Bold and Miller-Regular so don't change em
// set-font('benton-bold')
// set-font('miller-regular')
